<div class="header-content">
  <div class="header-wrap">
    <div class="header-left flex">
      <span class="header-logo">
        <a href="#/home" >
          <img src="/images/logo.svg"/>
        </a>
      </span>
      <span class="header-nav">
        <ul class="nav-list">
          <li class="nav-list-li"><a class="menu-a" href="#/home" >首页</a></li>
          <li class="nav-list-li"><a class="menu-a">产品与服务
            <!-- <span class="vicon">∨</span> -->
          </a>
            <div class="nav-wrap">
              <div class="nav-small-wrap">
                <div class="nav-item">
                  <p><%= product.title %></p>
                  <ul class="nav-item-ul">
                    <% _.each(product.list, function(item) {%>
                    <li class="nav-item-li"><a href="<%= item.href %>">
                        <span class="icon-header">
                          <img src="<%= item.icon %>" />
                        </span>
                        <span class="intro-header">
                          <p class="name"><%= item.name %></p>
                          <p class="desc"><%= item.desc %></p>
                        </span>
                    </a></li>
                    <% }) %>
                  </ul>
                </div>
                <div class="nav-item">
                  <p><%= service.title %></p>
                  <ul class="nav-item-ul">
                    <% _.each(service.list, function(item) {%>
                    <li class="nav-item-li"><a href="<%= item.href %>">
                        <span class="icon-header">
                          <img src="<%= item.icon %>" />
                        </span>
                        <span class="intro-header">
                          <p class="name"><%= item.name %></p>
                          <p class="desc"><%= item.desc %></p>
                        </span>
                    </a></li>
                    <% }) %>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-list-li"><a  class="menu-a" href="#/support/instruction">帮助中心</a></li>
          <!--<li class="nav-list-li"><a  class="menu-a">关于我们</a></li> -->
        </ul>
      </span>
    </div>
    <div class="header-right">
      <a class="right-item" target="_blank" href="https://merchant.zhaokemall.com">商家登录</a>
      <a class="right-item" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3564634648&site=qq&menu=yes">联系客服</a>
    </div>
  </div>
</div>
