<div id="service-service">
  <div class="con1-wrap">
    <div class="common-pagehead">
      <div class="common-pagehead-wrap">
        <span>
          <p>专属私人定制</p>
          <p>低成本，高效率</p>
          <!-- <p>
            <a class="link-a" target="_blank" href="https://merchant.zhaokemall.com/">立即试用</a>
          </p> -->
        </span>
      </div>
    </div>
  </div>
  <div class="bgGray con5-wrap">
    <div class="main-content">
      <p class="commonTitle">您的需求招客猫都能满足</p>
      <p class="titleDesc special" data-move-y="200px">招客猫拥有一支专业的互联网软件开发团队，拥有超过5个主流卡法平台，从设计到研发再到产品上线，
          强大的研发能力为您提供专属于您的软件定制，体统专业的软件服务，帮助商家一站式解决上线零销售问题</p>
    </div>
  </div>
  <div class="con2-wrap">
    <div class="con2-wrap-content">
      <span class="special" data-move-x="-400px">
        <p class="title">店铺自定义从主题到页面<p>
        <p class="desc">店铺装修，店铺主题，页面和营销活动，<br/>都可以根据您的需求提供专属定制服务</p>
      </span>
      <span class="special" data-move-x="400px">
        <img src="/images/service/service(1).png" />
      </span>
    </div>
    <div class="con2-wrap-content">
      <span class="special" data-move-x="-400px">
        <img src="/images/service/service(2).png" />
      </span>
      <span class="special" data-move-x="400px">
        <p class="title">小程序定制<p>
        <p class="desc">为你带来更多新会员，满足更多特定需求场景</p>
      </span>
    </div>
  </div>
  <div class="con3-wrap bgGray">
    <p class="commonTitle"><%= software.title %></p>
    <div class="con3-wrap-content flex">
      <% _.each(software.list, function(item, index) {%>
      <div class="special" data-move-y="-500px">
        <span class="pic">
            <img src="<%= item.pic %>" />
        <span>
        <p><%= item.text %></p>
      </div>
      <% }) %>
    </div>
  </div>
  <div class="con4-wrap">
    <div class="con4-wrap-content">
      <div class="main-content">
        <div  class="special" data-rotate-y="90deg">
          <p class="title">联系我们</p>
          <p>如果您需要开发一个能为企业带来效益的精品APP软件，</p>
          <p>如果您还在为以往没有经过专业开发流程开发的不专业APP软件烧钱，</p>
          <p>如果您还以为您的APP软件十分有价值，如果您想好好利用您手上的APP软件开发这个市场请联系我们</p>
          <p class="secondTitle">联系电话： 18026260181/刘生</p>
          <p class="secondTitle">商务合作： service@idaoben.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
