<div id="product-model">
  <div class="con1-wrap">
    <div class="common-pagehead">
      <div class="common-pagehead-wrap">
        <span>
          <p>招客猫，新零售</p>
          <p>新零售，新模式</p>
          <!-- <p>
            <a class="link-a" target="_blank" href="https://merchant.zhaokemall.com/">立即试用</a>
          </p> -->
        </span>
      </div>
    </div>
  </div>
  <div class="con2-wrap">
    <p class="commonTitle">不同行业，不同规模，不一样的经营方案</p>
    <div class="con2-wrap-content">
      <span class="special" data-move-x="-400px">
        <p class="title">跨行业<p>
        <p class="desc">线上or线下，您需要怎样经营，</p>
        <p class="desc">招客猫给您提供解决方案</p>
      </span>
      <span class="special" data-move-x="400px">
        <img src="images/model/plan(1).png" />
      </span>
    </div>
    <div class="con2-wrap-content">
      <span class="special" data-move-x="-400px">
        <img src="images/model/plan(2).png" />
      </span>
      <span class="special" data-move-x="400px">
        <p class="title">单店版<p>
        <p class="desc">立刻拥有个性化网店，方便顾客随时随地购物</p>
      </span>
    </div>
    <div class="con2-wrap-content">
      <span class="special" data-move-x="-400px">
        <p class="title">集团版<p>
        <p class="desc">连锁经营，统一后台管理,</p>
        <p class="desc">各个门店经营状况随时掌握</p>
      </span>
      <span class="special" data-move-x="400px">
        <img src="images/model/plan(3).png" />
      </span>
    </div>
  </div>
  <div class="con3-wrap bgGray">
    <p class="commonTitle"><%= store.title %></p>
    <div class="con3-wrap-content">
      <% _.each(store.list, function(item){%>
      <div class="con3-wrap-item special" data-move-y="-200px">
        <span class="pic">
          <img src="<%= item.pic %>"/>
        </span>
        <p class="title"><%= item.title %></p>
      </div>
      <% }) %>
    </div>
  </div>
  <div class="con4-wrap">
    <p class="commonTitle">精准客群匹配</p>
    <div class="con4-wrap-content special" data-move-y="200px">
      <div class="">
        <div class="top-content">
          <img src="images/model/mate(1).png" />
          <span class="first-span">
            <p>消费能力</p>
            <p>职业</p>
            <p>年龄</p>
          </span>
        </div>
        <div class="bottom-content">
          <img src= "images/model/mate(3).png" />
          <span>
            <p class="title">消费人群</p>
            <p class="desc">精准匹配客户，基于门店位置寻找最优营销方案，
              <br/>匹配与门店定位相符合的潜在目标客户进行商品推送</p>
          </span>
        </div>
      </div>
      <div class="">
        <div class="top-content">
          <img src="images/model/mate(2).png" class="second-img"/>
          <span class="second-span">
            <p>经营痛点</p>
            <p>营销亮点</p>
          </span>
        </div>
        <div class="bottom-content">
          <img src= "images/model/mate(4).png" />
          <span>
            <p class="title">顾客属性</p>
            <p class="desc">全方位店铺分析，针对顾客属性，会员标签
              <br/>经营痛点全方位分析</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
